//* 'ABOUT' section

.app-about {
	&__content {
		margin-top: -20vh;
		padding: 20rem 0;

		background-color: $color-grey-light-1;
	}
}

//* 'FEATURES' section

.app-features {
	&__content {
		margin-top: -13vh;
		padding: 20rem 0;

		transform: skewY(-7deg);

		background-image: linear-gradient(
				to right bottom,
				rgba($color-primary-light, 0.8),
				rgba($color-primary-dark, 0.808)
			),
			url(./../assets/images/nat-4.jpg);
		background-position: top;
		background-size: cover;

		> * {
			transform: skewY(7deg);
		}
	}
}

//* 'TOURS' section

.app-tours {
	&__content {
		margin-top: -13vh;
		padding: 20rem 0 5rem 0;

		background-color: $color-grey-light-1;
	}
}

.app-tours-content {
	&__row {
		height: 55rem;
	}
}
