.l-container {
	display: grid;

	grid-template-columns:
		[sidebar-start] 8rem [sidebar-end full-start] 1fr [feature-start] repeat(
			8,
			[col-start] minmax(min-content, 14rem) [col-end]
		)
		[feature-end] 1fr [full-end];
	grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
}
