@import './../abstract/variables';

.l-container {
	display: grid;

	grid-template-columns:
		[sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
		[feature-start] repeat(
			8,
			[col-start] minmax(min-content, 14rem) [col-end]
		)
		[feature-end] minmax(6rem, 1fr) [full-end];
	grid-template-rows: 80vh min-content 40vw repeat(3, min-content);

	@media only screen and (max-width: $bp-large) {
		grid-template-columns:
			[full-start] minmax(6rem, 1fr)
			[feature-start] repeat(
				8,
				[col-start] minmax(min-content, 14rem) [col-end]
			)
			[feature-end] minmax(6rem, 1fr) [full-end];
		grid-template-rows: 6rem calc(92vh - 6rem) min-content 40vw repeat(
				3,
				min-content
			);
	}

	@media only screen and (max-width: $bp-medium) {
		grid-template-rows: 6rem calc(92vh - 6rem) min-content min-content 40vw repeat(
				3,
				min-content
			);
	}
}
