@import './../abstract/variables';

.c-sidebar {
	display: flex;
	justify-content: center;

	background-color: $color-primary;

	grid-column: sidebar-start / sidebar-end;
	grid-row: 1 / -1;

	@media only screen and (max-width: $bp-large) {
		align-items: center;
		justify-content: flex-end;

		grid-column: 1 / -1;
		grid-row: 1 / 2;
	}

	&__button {
		width: 4.5rem;
		height: 0.2rem;
		margin-top: 4rem;

		border: none;
		border-radius: 0;
		background-color: $color-grey-light-1;

		&::before,
		&::after {
			display: block;

			width: 4.5rem;
			height: 0.2rem;

			content: '';

			background-color: $color-grey-light-1;
		}

		&::before {
			transform: translateY(-1.5rem);
		}

		&::after {
			transform: translateY(1.3rem);
		}

		@media only screen and (max-width: $bp-large) {
			margin-top: 0;
			margin-right: 2.5rem;

			&::before {
				transform: translateY(-1.3rem);
			}

			&::after {
				transform: translateY(1.1rem);
			}
		}
	}
}
