/* reset elements */

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* global style */

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.7;

	padding: 30px;

	color: #777;
	background-color: #fff;
}

/* scrollbar */

body.default-theme::-webkit-scrollbar,
body.default-theme ::-webkit-scrollbar {
	width: 7px;
	height: 7px;

	background: #98a3a3;
}

body.default-theme::-webkit-scrollbar-thumb,
body.default-theme ::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: #2c4628;
}

/* header section */

.app__header {
	position: relative;

	height: 95vh;

	background-image: linear-gradient(
			to right bottom,
			#7ed56fcc,
			rgba(40, 180, 133, 0.808)
		),
		url(./assets/images/hero.jpg);
	background-position: top;
	background-size: cover;

	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

/* application logo - header section */

.app-header__logo {
	position: absolute;
	top: 40px;
	left: 40px;
}

.app-header-logo__item {
	height: 35px;
}

/* primary & secondary title - header section */

.app-header__title {
	position: absolute;
	top: 40%;
	left: 50%;
	/* trick : center it inside the parent container */

	transform: translate(-50%, -50%);
	text-align: center;

	backface-visibility: hidden;
}

.app-header-title__item {
	margin-bottom: 60px;

	text-transform: uppercase;

	color: #fff;
}

.app-header-title__primary {
	font-size: 60px;
	font-weight: 400;

	display: block;

	animation: move-in-left 1s ease-in-out;
	letter-spacing: 35px;
}

.app-header-title__secondary {
	font-size: 20px;
	font-weight: 700;

	display: block;

	animation: move-in-right 1s ease-in-out;
	letter-spacing: 17.4px;
}

@keyframes move-in-left {
	0% {
		transform: translateX(-100px);

		opacity: 0;
	}

	80% {
		transform: translateX(10px);
	}

	100% {
		transform: translateX(0);

		opacity: 1;
	}
}

@keyframes move-in-right {
	0% {
		transform: translateX(100px);

		opacity: 0;
	}

	80% {
		transform: translateX(-10px);
	}

	100% {
		transform: translateX(0);

		opacity: 1;
	}
}

/* 'discover' action button - header section  */

.app-header-title__link {
	position: relative;

	display: inline-block;

	padding: 15px 40px;

	animation: moveInBottom 0.5s ease-in-out 0.5s;
	text-decoration: none;
	text-transform: uppercase;

	color: #777;
	border-radius: 100px;
	background-color: #fff;

	animation-fill-mode: backwards;
}

.app-header-title__link:hover {
	transform: translateY(-10px);

	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.app-header-title__link:active {
	transform: translateY(-3px);

	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.app-header-title__link::after {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;

	display: inline-block;

	width: 100%;
	height: 100%;

	content: '';
	transition: all 0.4s;

	border-radius: 100px;
	background-color: #fff;
}

.app-header-title__link:hover::after {
	transform: scaleX(1.4) scaleY(1.6);

	opacity: 0;
}

@keyframes moveInBottom {
	0% {
		transform: translateY(30px);

		opacity: 0;
	}

	100% {
		transform: translateY(0);

		opacity: 1;
	}
}
