.row {
	max-width: $grid-width;
	margin: 0 auto;

	background-color: transparent;

	@include clearfix();

	&:not(:last-child) {
		margin-bottom: $gutter-vertical;
	}
}

.col {
	float: left;

	&:not(:last-child) {
		margin-right: $gutter-horizontal;
	}
}

//* 4 columns grid system
@include make-col(4);

//* 3 columns grid system
@include make-col(3);
