//* colors

$color-primary-default: #55c57a;
$color-primary-light: #7ed56fcc;
$color-primary-dark: #28b485;

$color-white: #fff;
$color-grey-dark: #777;
$color-black: #000;

//* grid layout

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
