*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  background-color: #fff; }

.app-about-header__title {
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  color: transparent;
  background-image: linear-gradient(to right, #7ed56fcc, #28b485);
  -webkit-background-clip: text;
  background-clip: text; }

@keyframes move-in-left {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  80% {
    transform: translateX(1rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes move-in-right {
  0% {
    transform: translateX(10rem);
    opacity: 0; }
  80% {
    transform: translateX(-1rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes move-in-bottom {
  0% {
    transform: translateY(3rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.u-text-center {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

/* scrollbar */
body.default-theme::-webkit-scrollbar,
body.default-theme ::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  background: #98a3a3; }

body.default-theme::-webkit-scrollbar-thumb,
body.default-theme ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #2c4628; }

.app__header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.808)), url(./../assets/images/hero.jpg);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

.app-header__logo {
  position: absolute;
  top: 4rem;
  left: 4rem; }

.app-header-logo__item {
  height: 3.5rem; }

.app-header__title {
  position: absolute;
  top: 40%;
  left: 50%;
  /* trick : center it inside the parent container */
  transform: translate(-50%, -50%);
  text-align: center;
  backface-visibility: hidden; }

.app-header-title__item {
  margin-bottom: 6rem;
  text-transform: uppercase;
  color: #fff; }

.app-header-title__primary {
  font-size: 6rem;
  font-weight: 400;
  display: block;
  animation: move-in-left 1s ease-in-out;
  letter-spacing: 3.5rem; }

.app-header-title__secondary {
  font-size: 2rem;
  font-weight: 700;
  display: block;
  animation: move-in-right 1s ease-in-out;
  letter-spacing: 1.75rem; }

.app-header-title__link {
  position: relative;
  display: inline-block;
  padding: 1.5rem 4rem;
  animation: move-in-bottom 0.5s ease-in-out 0.5s;
  text-decoration: none;
  text-transform: uppercase;
  color: #777;
  border-radius: 10rem;
  background-color: #fff;
  animation-fill-mode: backwards; }

.app-header-title__link:hover {
  transform: translateY(-1rem);
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2); }

.app-header-title__link:active {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }

.app-header-title__link::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  content: '';
  transition: all 0.4s;
  border-radius: 10rem;
  background-color: #fff; }

.app-header-title__link:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  background-color: transparent; }
  .row::after {
    display: table;
    clear: both;
    content: ''; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }

.col {
  float: left; }
  .col:not(:last-child) {
    margin-right: 6rem; }

.col-1-4 {
  width: calc( (calc((100% - 3 * 6rem) / 4) * 1) + ((1 - 1) * 6rem)); }

.col-2-4 {
  width: calc( (calc((100% - 3 * 6rem) / 4) * 2) + ((2 - 1) * 6rem)); }

.col-3-4 {
  width: calc( (calc((100% - 3 * 6rem) / 4) * 3) + ((3 - 1) * 6rem)); }

.col-1-3 {
  width: calc( (calc((100% - 2 * 6rem) / 3) * 1) + ((1 - 1) * 6rem)); }

.col-2-3 {
  width: calc( (calc((100% - 2 * 6rem) / 3) * 2) + ((2 - 1) * 6rem)); }

.app-about__content {
  margin-top: -20vh;
  padding: 20rem 0;
  background-color: #f7f7f7; }
